@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #282C34;
}

.my-masonry-grid {
  display: flex;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 10px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > label > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 10px;
}

.activities--button-active {
  background-color: rgba(15, 23, 42,0.4);
}

.toggleButtons--startButton {
  width: 200px;
}

.toggleButtons--skipDiv {
  display: inline-block;
  height: 80px;
  width: calc((100% - 200px) / 2);
}


.toggleButtons--skipIcon {
  font-size: 3rem;
}

